<div class="filters">
  <div class="filters-labels">
    <label class="label-item">From:</label>
    <label class="label-item">To:</label>
    <label class="label-item">Select Category:</label>
    <label class="label-item">Select Service:</label>
    <div class="label-spacer"></div>
  </div>
  
  <div class="filters-inputs">
    <div class="filter-input">
      <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yyyy" [showIcon]="true" appendTo="body"></p-calendar>
    </div>

    <div class="filter-input">
      <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yyyy" [showIcon]="true" appendTo="body"></p-calendar>
    </div>

    <div class="filter-input">
      <p-dropdown [options]="categoryOptions" optionLabel="label" optionValue="value" [(ngModel)]="selectedCategory" placeholder="Select Category"></p-dropdown>
    </div>

    <div class="filter-input">
      <p-dropdown [options]="serviceOptions" optionLabel="label" optionValue="value" [(ngModel)]="selectedService" placeholder="Select Service"></p-dropdown>
    </div>

    <button pButton type="button" label="Search" class="p-button-rounded btn-search" (click)="onApply()"></button>
  </div>
</div>
